In [1]:
print("Hello World")

Hello World

In [12]:
print(2)
print(3.14)
print(2.0)
print(1_000_000_000_000_000_000)
print(-7)

print(314e+2)
print(314e-2)

2
3.14
2.0
1000000000000000000
-7
31400.0
3.14

In [13]:
print(True)
print(False)

True
False

In [20]:
print("Ini adalah String")
print("47239")
print(""" 
Ini bisa berparagraf
berapapun barisnya
      """)

Ini adalah String
47239



Ini bisa berparagraf
berapapun barisnya

In [28]:
nama_depan = "Yudha"
nama_akhir = "Sugiharto"
angka = 32.0
benar = True

print(nama_depan + nama_akhir)
print(nama_depan, nama_akhir)

YudhaSugiharto
Yudha Sugiharto

In [30]:
type(nama_depan)
type(angka)
type(benar)

bool

In [39]:
pi = 3.14 # Ini float
num = 27 # Ini integer
pi_bulat = int(pi) # Diubah dari int ke float
num_float = float(num)  # Diubah dari float ke int
num_str = str(num) # Diubah dari int ke str

ValueError: invalid literal for int() with base 10: 'jfkaofds'

In [52]:
# Operasi Matematika

2 + 2
3 - 1
1 * 5
3 / 1
3 % 2 # Operasi Modulo
2 ** 10

1024